/*starter page styles*/
*{
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
}
body{
    color: white;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/307/12/896/simple-background-black-background-minimalism-theater-photography-hd-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: black;
    background-position: center;
}

.subtitle {
    color:white;
}
.title {
    color: orange;
}

#start {
    background-color: orange;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    width: 130px;
    transition: all 0.7s;
    animation: slideUp .6s ease forwards 1.7s;
    transform: translateY(500px);
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

#start:hover {
    background-color: bisque;
    width: 190px;
    box-shadow: inset 0px 0px 25px orange, 0 0 25px orange;
}

.custom-column {
    margin-top: 17%;
}

.hidden {
    display: none;
}

/*genre page styles*/
.prompt-1 button {
    background-color: orange;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
    width: 350px;
    font-weight:bolder;
}
.prompt-1 button:hover {
    box-shadow: inset 0px 0px 25px orange, 0 0 25px orange;
}
.prompt-1 button:active {
    background-color: bisque;
}
.prompt-1 {
    position: relative;
    font-size: 50px;
    text-align: center;
}
.prompt-1 h1 {
    font-weight: bolder;
}

/*animation styles*/
.page1 h1 {
    animation: slideIn .6s ease forwards .5s;
    transform: translateY(-800px);
}
.page1 p {
    animation: slideIn .6s ease forwards 1.1s;
    transform: translateY(500px);
}
@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(.2);
      }
      100% {
        transform: translateX(0px) scale(1);
      }
}
@keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }

.page2, .prompt-era, .lang-page, .end-page {
    animation: grow 0.7s;
}

@keyframes grow {
    0% { transform: scale(.2); }
	100% { transform: scale(1); }
}
/*era page styles*/
.hide {
    display: none;
     display: none;
  }
.prompt-era {
    position: relative;
    font-size: 50px;
    text-align: center;
}
.dropdown-content{
    background: none;
    text-align: center;
}
.prompt-2 {
    background-color: orange;
    font-size: 25px;
    padding: 5px !important;
    border-radius: 15px;
    width: 350px;
    font-weight: bolder;
}
.dropdown-menu {
    font-size: 25px;
    width: 350px;
}
.dropdown-item {
    border-style: solid;
    border-radius: 15px;
    background-color: orange;
    font-size: 20px;
    padding: 5px;
    border-color: black;
    color: black;
    text-align: center;
}
button.dropdown-item {
    padding: 0px !important;
}
/*genre page styles*/
.prompt-1 button {
    background-color: orange;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
    width: 350px;
    font-weight:bolder
}
.prompt-1 button:hover {
    box-shadow: inset 0px 0px 25px orange, 0 0 25px orange;
    background-color: bisque;
}
.prompt-1 button:active {
    background-color: bisque;
}
.prompt-1 {
    position: relative;
    font-size: 50px;
    text-align: center;
}
.prompt-1 h1 {
    font-weight: bolder;
}

/*language page styles*/
.prompt-3 button {
    background-color: orange;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
    width: 350px;
    font-weight:bolder
}
.prompt-3 button:hover {
    box-shadow: inset 0px 0px 25px orange, 0 0 25px orange;
    background-color: bisque;
}
.prompt-3 button:active {
    background-color: bisque;
}
.prompt-3 {
    position: relative;
    font-size: 50px;
    text-align: center;
}
.prompt-3 h1 {
    font-weight: bolder;
}

/*back-button styles*/
#back-btn {
    background-color: orange;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    width: 130px;
    position: relative;
    display: flex;
    margin: auto;
    transition: all 0.7s;
    animation: wiggle 1.5s linear infinite; 
}
#back-btn:hover {
    box-shadow: inset 0px 0px 25px orange, 0 0 25px orange;
    background-color: bisque;
    width: 190px;
}

#results {
    margin-top: 20px;
}