/*starter page styles*/
body{
    color: white;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/307/12/896/simple-background-black-background-minimalism-theater-photography-hd-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.subtitle {
    color:white;
}
.title {
    color: orange;
}

#start {
    background-color: orange;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    width: 130px;
}

#start:hover {
    background-color: bisque;
}

.custom-column {
    margin-top: 17%;
}

.hidden {
    display: none;
}


/*genre page styles*/
.prompt-1 button {
    background-color: orange;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
    width: 350px;
    font-weight:bolder
}
.prompt-1 button:hover {
    box-shadow: inset 0px 0px 25px orange, 0 0 25px orange;
}
.prompt-1 button:active {
    background-color: bisque;
}
.prompt-1 {
    position: relative;
    font-size: 50px;
    text-align: center;
}
.prompt-1 h1 {
    font-weight: bolder;
}

/*era page styles*/
.hide {
    display: none;
     display: none;
  }
.prompt-era {
    position: relative;
    font-size: 50px;
    text-align: center;
}
.dropdown-content{
    background: none;
}
.prompt-2 {
    background-color: orange;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
    width: 350px;
    font-weight: bolder;
}
.dropdown-menu {
    font-size: 25px;
    width: 350px;
}
.dropdown-item {
    border-style: solid;
    border-radius: 15px;
    background-color: orange;
    font-size: 20px;
    padding: 5px;
    border-color: black;
    color: black;
}

/*genre page styles*/
.prompt-1 button {
    background-color: orange;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
    width: 350px;
    font-weight:bolder
}
.prompt-1 p:hover {
    box-shadow: inset 0px 0px 25px orange, 0 0 25px orange;
}
.prompt-1 p:active {
    background-color: bisque;
}
.prompt-1 {
    position: relative;
    font-size: 50px;
    text-align: center;
}
.prompt-1 h1 {
    font-weight: bolder;
}

/*language page styles*/
.prompt-3 button {
    background-color: orange;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
    width: 350px;
    font-weight:bolder
}
.prompt-3 p:hover {
    box-shadow: inset 0px 0px 25px orange, 0 0 25px orange;
}
.prompt-3 p:active {
    background-color: bisque;
}
.prompt-3 {
    position: relative;
    font-size: 50px;
    text-align: center;
}
.prompt-3 h1 {
    font-weight: bolder;
}
